.bg {
    fill: #044B94;
    fill-opacity: 0.0;
}


.obstacle {
    stroke: #222;
    fill: #222;
}

line.obstacle {
    stroke-width: 4;
    stroke-linecap: round;
}

.cleanup {
    fill: #ffffff;
    fill-opacity: 0.0;
    stroke: #ffffff;
    stroke-opacity: 0.0;
}

.preferred {
    fill: #35fc8e;
    fill-opacity: 0.4;
    stroke: #35fc8e;
    stroke-opacity: 0.4;
}

.blinknbeep {
    fill: #e0cb52;
    fill-opacity: 0.4;
    stroke: #e0cb52;
    stroke-opacity: 0.4;
}


.selector {
    stroke: green;
    fill: #5cceee;
    fill-opacity: 0.25;
    stroke-width: 1;
}

.selector_deleter {
    fill: #000;
    fill-opacity: 0.8;
}

.selector_joiner {
    fill: #00F;
    fill-opacity: 0.8;
}

.multi_selected {
    stroke: #000000;
    fill: #000000;
}